h1 {
font-family: verdana;
font-weight: bold;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
font-size: 45px;
}
#myCanvas{
border-style: ridge;
margin-bottom: 25px;
margin: 55px;
}
body {
background-image: url("bg.jpg");
text-align: center;
}
#erase {
width:100px;
height: 40px;
background-color: cornflowerblue;
border-width:3px;
border-radius: 25px;
border-color: black;
}